.App {
  display: flex;
  text-align: center;
}
.course {
  width: 80%;
  border-right: 2px solid cyan;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
